.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}



.imgGroup{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.floatingImg{
    position: absolute;
}